<section class="content-show-product">
	<p id="notice"><%= notice %></p>

  <div class="container-fluid show-product-main">
    <div class="row show-product-row">     
      <div class="col-xs-6 col-sm-6 col-lg-4 col-xl-4 show-image-col">
        <%= image_tag(@product.image_url, class: "img-fluid product-show-image") %>
      </div> <!-- end col show pic-->
      <div class="col show-product-col"> 
        <h5><%= @product.name %></h5>
        <p><%= @product.description %></p>
        <p>
	        <strong>Long Description:</strong>
	        <%= @product.long_description %>
	      </p>
        <p>
	        <strong>Ingredients:</strong>
	        <%= @product.ingredients %>
	      </p>
	      <p>
	        <strong>How to use:</strong>
	        <%= @product.how_to_use %>
	      </p>
        <p>
	        <strong>Price:</strong> 
	        <%= number_to_currency(@product.price, unit: "€") %>
	      </p>
      </div> <!-- end col show product details -->
    </div> <!-- end row show product details -->
  </div> <!-- end container show-product-main -->
</section> <!-- end content-show-product -->