<section class="content-show-product">
  <div class="container-fluid show-product-main">
		<div class="row show-product-row">
      <div class="col-xs-6 col-sm-6 col-lg-4 col-xl-4 show-image-col">
        <%= image_tag(@product.image_url, class: "img-fluid product-show-image img-zoom", data_zoom_image: "@product.product_image.url") %>
      </div> <!-- end show-image-col-->
      <div class="col show-product-col">
				<h5><%= @product.name %></h5>
				<div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
				<p>
					<strong>Price:</strong>
					<%= number_to_currency(@product.price, unit: "€") %>
				</p>

        <p>
          <%= form_with(url: '/payments/create') do |form| %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        </p>

				<p><%= @product.description %></p>

        <p>
	        <strong>Description:</strong>
	        <%= @product.long_description.html_safe %>
	      </p>
        <p>
	        <strong>Ingredients:</strong>
	        <%= @product.ingredients.html_safe %>
	      </p>
	      <p>
	        <strong>How to use:</strong>
	        <%= @product.how_to_use.html_safe  %>
	      </p>
      </div> <!-- end show-product-col -->
    </div>

			<div class="row show-comments-row">
				<div class="col-xs-6 col-sm-6 col-lg-4 col-xl-4">
					<p><%= render 'new_comment' %></p>
				</div>  <!--end col -->
				<div class="col">
					<br>
					<p><strong>Reviews</strong></p>
					<p><%= render 'comments' %></p>
					<%= will_paginate @comments %>
					<%= link_to 'Back to products', products_path, class: "btn btn-outline-secondary"%>
        </div>  <!--end col -->
			</div>  <!-- end show-product-row -->

		</div>  <!-- end show-comments-row -->

</section>  <!-- end content-show-product -->
